body {
    background-color: darkgrey;

}
.input {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: white;
    background:;
}

form {
    width: 90%;
}
/* .label {
    width: 200px;
} */

.entriesCSS {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    color: white;
    border: 1px solid white;
    width: 500px;

}
.jDate{
    display: flex;
    justify-content: flex-start;
    width: 240px;
    background-color: darkslateblue;

}
.jConcepts{
    display: flex;
    flex-direction: column;
    background-color: darkred;

}
.search-param {
    display: flex;
    flex-direction: row;
}
.search {
    display: flex;
    justify-content: center;
    width: 40%;
}
#search-journal {
    display: flex;
    justify-content: center;
    width: 95%
}