body {
    background-color: darkred;

}
fieldset {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: white;
    background: 
}
form {
    width: 40%;
}
.label {
    width: 200px;
}